.message {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-align: left;
  padding: 10px 20px;
  margin: 30px;
  background-color: white;
  width: fit-content;
  border-radius: 10px;
  max-width: 30vw;
}

.message__receiver {
  margin-left: auto;
  background-color: #8d2366;
  color: #fff;
}

.message__name {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(141, 137, 137);
  font-weight: 800;
  font-size: 12px;
}

.message__name--none {
  display: none;
}

.message__timestamp {
  text-align: right;
  margin-top: 10px;
  font-size: x-small;
}
