.app {
  display: grid;
  place-items: center;
  background-image: linear-gradient(to top right, #631c49, #360123);
  height: 100vh;
}

.app__body {
  display: flex;
  background-color: #f8e8f2;
  border-radius: 10px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
